/*SPLASHSCREEN*/
.splash {
  background-color: #102c62;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-img {
  width: 350px;
  height: auto;
  margin-bottom: -30px
}

.logo-globo-img{
  width: 400px;
  height: auto;
}

.splash {
  background-color: #0a2351;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideOut 0.3s ease 2.7s forwards;
}


/*------------------------------------------------------------------------------*/


/*PAGINA-ONBOARGING*/
.onboarding {
  background-color: #0a2351;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.quadro {
  background-color: white;
  padding: 30px;
  border-radius: 24px;
  height: 540px;
  width: 65%;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.logo-img3 {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

/*Carrossel */
.carrossel-onboarding {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.carrossel-btn {
  background: none;
  border: none;
  font-size: 35px;
  color: #0e3469;
  cursor: pointer;
  padding: 10px;
}

.carrossel-card {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.texto-onboarding {
  font-size: 18px;
  color: #333;
  line-height: 1.5;
  font-weight: 400;
  background: none;
}

/*Pontinhos*/
.carrossel-indicadores {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.ponto {
  width: 12px;
  height: 12px;
  background-color: #AAA;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ponto.ativo {
  background-color: #0e3469;
  width: 24px;
  border-radius: 6px;
}

.acao-onboarding {
  height: 50px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao-pular {
  background: none;
  border: none;
  color: #666666; 
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  padding: 10px 20px;
  transition: color 0.2s;
}

.botao-pular:active {
  color: #0e3469;
}

.btn-começar {
  background-color: #0e3469;
  color: white;
  border: none;
  padding: 12px 40px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 4px 10px rgba(14, 52, 105, 0.2);
  transition: transform 0.1s;
}

.btn-começar:active {
  transform: scale(0.95);
}

/* Transição de Fade */
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s ease;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}


/*------------------------------------------------------------------------------*/


/*PÁGINAS DO SISTEMA*/
.header-azul {
  background-color: #0d2646;
  padding: 30px 10px;
  text-align: center;
}

.logo-imagem{
  width: 200px;
  height: 70px;
  align-self: flex-start;
}

.conteudo{
  position: relative;
}

.btn-voltar {
  background: none;
  border: none;
  cursor: pointer;
  padding: 12px;
  position: absolute;
  left: 10px;
  top: 1px;  
  display: flex;
}

.icone-voltar{
  width: 45px;
  height: 45px;
}

/* Conteúdo Principal */
.titulo-pagina {
  font-size: 25px;
  color: #1d1d1d;
  margin-top: 30px;
  margin-bottom: 20px;
}

.titulo-boas-vindas {
  font-size: 25px;
  color: #1d1d1d;
  margin-bottom: 25px;
  margin-top:0.1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; /*open sans light*/
}

.grade-botoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 350px; 
}

.content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-menu1, .btn-menu2, .btn-menu3, .btn-menu4 {
  background-color: #0e3469;
  color: white;
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 20px; 
  letter-spacing: 0.5px;
  width: 100%;
  height: 100px;
  padding: 24px 15px;
  border: none;
  border-radius: 7px;
  box-shadow: 0 4px 12px rgba(14, 52, 105, 0.25);
  cursor: pointer;
  transition: transform 0.1s, background-color 0.2s;
}

.btn-menu1:active, .btn-menu2:active, .btn-menu3:active, .btn-menu4:active {
  transform: scale(0.96); 
  background-color: #0a254c;
}

.btn-menu1{
  background-color: #0a254c;
}

.btn-menu2{
  background-color: #1b3e6f;
}

.btn-menu3{
  background-color: #087b16;
}

.btn-menu4{
  background-color: #013801;
}

.conteudo {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.navegacao-topo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  justify-content: center;
  align-self: flex-start;
}

.icone-menu-navegacao {
  width: 24px;
  height: 24px;
}

.subtitulo-tema {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  text-align: center; 
}

.texto-descricao {
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 40px;
  text-align: justify;
}

.texto-descricao-dicas{
  font-size: 25px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 40px;
  text-align: left;
}

/* Lista de Itens (Menu) */
.lista-ataques {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}
.item-ataque {
  background: none;
  border: none;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s;
  text-align: left;
  width: 100%;
}
.item-ataque:hover, .item-ataque:active {
  background-color: #eaeaea; 
}
.item-ataque .icone {
  font-size: 30px;
  width: 50px; 
  text-align: center;
}
.item-ataque .texto {
  font-size: 21px;
  color: #333;
  font-weight: 400;
  flex: 1;
}

/* Lista de Itens (Menu) */
.lista-boas-praticas {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}

.item-boas-praticas {
  background: none;
  border: none;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s;
  text-align: left;
  width: 100%;
}
.item-boas-praticas:hover, .item-boas-praticas:active {
  background-color: #eaeaea; /* Efeito visual de clique */
}

.item-boas-praticas .texto {
  font-size: 21px; 
  color: #333;
  font-weight: 400;
  flex: 1; 
}

/* Grade de Botões - Como se proteger*/
.btn-dicas-rapidas, .btn-tecnologias {
  height: 170px;
  width: 100%;
  max-width: 320px;
  border: none;
  border-radius: 7px;
  font-size: 23px;
  cursor: pointer;
  display: block;
  margin: 5px auto;
  color: white;
}

.btn-dicas-rapidas{
  background-color: #60A1B3;
}

.btn-tecnologias{
  background-color: #648D32;
}

.btn-video1, .btn-video2 {
  background-color: #163B70;
  color: white;
  height: 110px;
  width: 100%;
  max-width: 320px;
  border: none;
  border-radius: 7px;
  font-size: 23px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  display: block;
}

.card-botao:active {
  transform: scale(0.96); /* Efeito de clique */
}

/* Botão de Vídeo */
.btn-video-destaque, .btn-cartilha, .btn-podcast {
  background-color: #2e5a97;
  color: white;
  height: 90px;
  width: 100%;
  max-width: 300px;
  padding: 15px;
  border: none;
  border-radius: 12px;
  font-size: 21px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  display: block;
  margin: 15px auto;
}

.btn-podcast{
  margin-bottom: 30px;
}

/* Menu Inferior */
.menu-inferior {
  position: fixed;
  bottom: 0;
  max-width: 412px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);  
  background-color: #fff;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.05);
  z-index: 100;
}

.nav-item {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: #777;
  cursor: pointer;
  padding: 5px;
}

.nav-texto { 
  font-size: 12px; 
  font-weight: 400; 
}

/*VÍDEO*/
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-container {
  position: relative;
  width: 90%;
  max-width: 800px;
  aspect-ratio: 16 / 9;
}

.modal-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.btn-fechar {
  position: absolute;
  top: -36px;
  right: 0;
  background: transparent;
  color: white;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}


/* Botão do acordeão: CANAIS*/
.accordion-button {
  width: 100%;
  text-align: left;
  background-color: #fff;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Seta apontando para baixo por padrão */
.accordion-button::after {
  content: '▼';
  font-size: 0.80rem;
  transition: transform 0.2s;
}

/* Seta vira para cima quando aberto */
.accordion-button:not(.collapsed)::after {
  transform: rotate(180deg);
}

/* Estilo quando fechado */
.accordion-button.collapsed {
  background-color: #fff;
}

/* Corpo do acordeão */
.accordion-item {
  border: 1px solid #dee2e6;
  margin-bottom: 5px;
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgba(204, 204, 204, 0.5);
}

.accordion-body {
  padding: 1rem;
  background-color: #fff;
}